/* find a green gradient here */
:root {
  --main-color: #1db954;
  --white: #ffffff;
}

body {
  background: #181818;
}

.App {
  text-align: center;
  position: relative;
  background-color: rgb(24,24,24);
}
