/* find a green gradient here */
:root {
  --main-color: #1db954;
  --white: #ffffff;
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: rgb(24,24,24);
}
