.radiusButton {
  z-index: 5;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-size: 15px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.025em;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
  background: #3ecf8e;
  transition: all 0.15s ease;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.radiusButton::after {
  content: "";
  width: 4px;
  height: 4px;
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: 1;
  background: #5778f3;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
}

.radiusButton:hover::after {
  opacity: 1;
  transform: scale(100);
}

.radiusButton span {
  position: relative;
  z-index: 2;
}
