.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 22px;
  margin-top: 45px;
}

.avatar {
  height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: [sidebar] 3fr [content] 9fr;
  }

  .dropdown {
    list-style: none;
    text-align: center;
  }

  .sidebar {
    height: 100vh;
    background-color: rgba(65, 54, 54, 0.324);
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }
}