.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avatar {
  height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-rows: [header] 1.1fr [body] auto;
    grid-template-columns: [sidebar] 3fr [content] 8fr;
  }

  .header {
    grid-row: header;
    grid-column: sidebar / 3;
  }

  .sidebar {
    grid-row: body;
    grid-column: sidebar;
    width: 250px;
  }

  .content {
    grid-row: body;
    grid-column: content;
  }

  .grouped-content {
    grid-row: body;
    grid-column: sidebar / 3;
  }
}