.defaultInput {
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}

.fullWidth {
    width: 100%;
}

.search {
	border-radius: 20px;
	outline: none;
	padding-left: 20px;
	padding-right: 40px;
	background-color: transparent;
	border: 2px solid white;
	height: 35px;
	color: #fff;
	box-sizing: border-box;
}