.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 22px;
  margin-top: 45px;
}

.avatar {
  height: 200px;
  max-width: 200px;
  border-radius: 50%;
}

.user-details {
  margin: 0 10px;
}

.chart {
  margin: 0 20px 10px 0px;
}

@media screen and (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: [sidebar] 3fr [content] 8fr;
  }

  .dropdown {
    list-style: none;
    text-align: center;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }
}