.playlist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.tabs {
  width: 100%;
  overflow: hidden;
}

.browse-headers {
  list-style: none;
  display: flex;
  justify-content: center;
}

.tab {
  color: rgb(179, 179, 179);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 20px;
  cursor: pointer;
}

.tab:hover {
  color: #fff
}

.browse-headers .active {
  position: relative;
}

.browse-headers .active:after {
  content: "";
  position: absolute;
  width: 35px;
  left: 50%;
  top: 22px;
  border-bottom: 2px solid #1db954;
  transform: translate(-50%, -50%);
}
